.PC-__ {
  position: relative;
  margin: 0 auto;
  width: 1256px;
  height: 772px;
  background-color: #ffffff;
  padding: 30px 60px;
  box-sizing: border-box;
}

.bt_checkbox_checked {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.scrap_tit {
  width: 244px;
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
}
