.PC-__ {
  width: 1256px;
  height: 772px;
  background-color: #ffffff;
}

.bt_checkbox_checked {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.scrap_tit {
  width: 244px;
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
}

.card_img {
  width: 268px;
  height: 268px;
  border-radius: 10px;
}

.user_name {
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.74);
}

.ic_avatar_cat {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.blue {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.on-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
